{{#if success_msg}}
<div class="card-panel green darken-2 grey-text text-lighten-4">{{success_msg}}</div>
{{/if}}
{{#if warning_msg}}
<div class="card-panel amber darken-1 grey-text text-darken-4">{{warning_msg}}</div>
{{/if}}
{{#if error_msg}}
<div class="card-panel red accent-3 darken-4 grey-text text-lighten-4">{{error_msg}}</div>
{{/if}}
