<h1>Welcome</h1>
<p>Welcome to St0ry Telling 1.0.0</p>
<p>Add a cool and original description about this website regarding its content and functionality </p>
{{#if user}}
{{else}}
  <a class="btn red darken-1" href="/auth/google"><i class="fa fa-google left"></i> Login With Google</a>
{{/if}}