<h1>Welcome</h1>
<p>Welcome to St0ry Telling 1.0.0</p>
<p>Add a cool and original description about this website regarding its content and functionality </p>
<a href="/auth/google" class="btn red darken-1"><i class="fa ga-google left"></i> Login with Google</a>